p{
    background-color: lightblue;
    height: 20vh;
    width: 20vw;
    color: yellow;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    box-shadow: 10px 10px 100px  lightsalmon ;
    border-radius: 10px;
}